<footer> 
    <div class="footer-top">
        <div class="container">
            <div class="row">
            <div class="col-xs-12">
                <address class="text-center">
                    <h4>
                        Hårknuden | Pulsen 8 | 4000 Roskilde | mail: post@hårknuden.dk | Telefon: 12345678 
                    </h4>
                </address>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
    <div class="container">
        <div class="row">
        <div class="col-xs-12 text-center">
            <p>&copy; Copyright 2018 - City of Denmark.  All rights reserved.</p>
        </div>
        </div>
    </div>
    </div>
</footer>