<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod1.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Dryfish Texturising Dry Shampoo 200 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod2.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Memoryfish Elastic Styling Gel 150 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod3.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Fishfibre Pliable Fibre 100 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod4.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Fishfinger Shape Defining Wax 100 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod5.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Superfish Fishsticks Fixing Hairspray 200 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod6.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Superfish Fishsticks Fixing Hairspray 200 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod7.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Superfish Fishfix Controlling Wax 100 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="img/galleri/prod8.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Superfish Stifish Moulding Cream 100 ml</h4>
        <p class="card-text">99,95 DKK.</p>
    </div>
</div>